<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
    <link rel="stylesheet" href="/styles/style.css">
    <script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>
 
</head>
<body>
    <nav class="navbar is-info">
        <div class="navbar-brand">
            <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start is-link">
                <div class="navbar-item has-dropdown is-hoverable">
                    <div class="navbar-dropdown is-boxed">
                        {{#each items}}
                            <a class="navbar-item" href="{{url}}">
                                {{label}}
                            </a>
                        {{/each}}
                        <hr class="navbar-divider">
                        <a class="navbar-item is-active" href="kanban.html">
                            Kanban
                        </a>
                    </div>
                </div>
            </div>
            <div class="navbar-end">
            </div>
                    <div class="field is-grouped">
                        <p class="control">
                            {{#if logged_in}}
                                <a class="button is-primary" href="/profile">
                                    <span class="icon">
                                        <i class="fas fa-user"></i>
                                    </span>
                                    <span>Profile</span>
                                </a>
                                <form action="/api/users/logout" method="POST" style="display:inline;">
                                    <button class="button is-light" type="submit">Logout</button>
                                </form>
                            {{else}}
                                <a class="button is-primary" href="/login">
                                    <span>Login</span>
                                </a>
                            {{/if}}
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <section class="header1">
            <div class="hero-body">
                <div>
                            <img src="/images/strictly-ballroom-solid.svg" alt="Strictly Ballroom" class="logo-header">
                </div>
            </div>
<div class="tabs is-boxed is-centered main-menu" id="nav">
    <ul>
        <li data-target="pane-1" id="1">
            <a href="/about">
                <span>About</span>
            </a>
        </li>
        <li data-target="pane-2" id="2">
            <a href="/calendar">
                <span>Calendar</span>
            </a>
        </li>
        <li data-target="pane-3" id="3">
            <a href="/rentspace">
                <span>Rent Space</span>
            </a>
        </li>
        <li data-target="pane-4" id="4">
            <a href="/contact">
                <span>Contact</span>
            </a>
        </li>
        <li data-target="pane-4" id="4">
            <a href="/faq">
                <span>FAQ</span>
            </a>
        </li>
    </ul>
</div>

            <div class="tab-content">
                {{{body}}}
                <div class="tab-pane" style="display: none;">
            </div>
            </div>
    
</body>
</html>
