<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
    <link rel="stylesheet" href="/styles/style.css">
    <script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>
 
</head>
<body>
    <nav class="navbar is-info">
        <div class="navbar-brand">
            <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start is-link">
                <div class="navbar-item has-dropdown is-hoverable">
                    <div class="navbar-dropdown is-boxed">
                        {{#each items}}
                            <a class="navbar-item" href="{{url}}">
                                {{label}}
                            </a>
                        {{/each}}
                        <hr class="navbar-divider">
                        <a class="navbar-item is-active" href="kanban.html">
                            Kanban
                        </a>
                    </div>
                </div>
            </div>
            <div class="navbar-end">
            </div>
                    <div class="field is-grouped">
                        <p class="control">
                            {{#if logged_in}}
                                <a class="button is-primary" href="/profile">
                                    <span class="icon">
                                        <i class="fas fa-user"></i>
                                    </span>
                                    <span>Profile</span>
                                </a>
                                <form action="/api/users/logout" method="POST" style="display:inline;">
                                    <button class="button is-light" type="submit">Logout</button>
                                </form>
                            {{else}}
                                <a class="button is-primary" href="/login">
                                    <span class="icon">
                                        <i class="fas fa-download"></i>
                                    </span>
                                    <span>Login</span>
                                </a>
                            {{/if}}
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <section class="header1">
            <div class="hero-body">
                <div>
                            <img src="/images/strictly-ballroom-solid.svg" alt="Strictly Ballroom" class="logo-header">
                </div>
            </div>
<div class="tabs is-boxed is-centered main-menu" id="nav">
    <ul>
        <li data-target="pane-1" id="1">
            <a href="/about">
                <span>About</span>
            </a>
        </li>
        <li data-target="pane-2" id="2" class="is-active">
            <a href="/calendar">
                <span>Calendar</span>
            </a>
        </li>
        <li data-target="pane-3" id="3">
            <a href="/rentspace">
                <span>Rent Space</span>
            </a>
        </li>
        <li data-target="pane-4" id="4">
            <a href="/contact">
                <span>Contact</span>
            </a>
        </li>
        <li data-target="pane-4" id="4">
            <a href="/faq">
                <span>FAQ</span>
            </a>
        </li>
    </ul>
</div>

            {{{body}}}
            <div class="tab-content">
                <div class="tab-pane" id="pane-2" style="display: block;">
                    <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FDenver&bgcolor=%23ffffff&title=Strictly%20Ballroom&src=c3RyaWN0bHliYWxscm9vbXN0dWRpb0BnbWFpbC5jb20&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23039BE5&color=%2333B679&color=%230B8043" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
                </div>
                <div class="tab-pane" id="pane-3" style="display: none;">
                    <div class="columns">
                        <div class="container">
                            <div class="columns">
                                <div class="column">
                                    <article class="media">
                                        <div class="media-left">
                                            <i class="fab fa-github-square fa-4x"></i>
                                        </div>
                                        <div class="media-content">
                                            <div class="content">
                                                <p>
                                                    <strong>Dominic Ipsum</strong>
                                                    <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                                                </p>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="media">
                                        <div class="media-left">
                                            <i class="fab fa-empire fa-4x"></i>
                                        </div>
                                        <div class="media-content">
                                            <div class="content">
                                                <p>
                                                    <strong>Cassie Ipsum</strong>
                                                    <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                                                </p>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="column">
                                    <article class="media">
                                        <div class="media-left">
                                            <i class="fab fa-ravelry fa-4x"></i>
                                        </div>
                                        <div class="media-content">
                                            <div class="content">
                                                <p>
                                                    <strong>Avery Ipsum</strong>
                                                    <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                                                </p>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="media">
                                        <div class="media-left">
                                            <i class="fab fa-github-alt fa-4x"></i>
                                        </div>
                                        <div class="media-content">
                                            <div class="content">
                                                <p>
                                                    <strong>io Ipsum</strong>
                                                    <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis. ╳
                                                </p>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </nav>
</body>
</html>
